.about.container {
    height: calc(1024px * 1.5);
    background: linear-gradient(white, var(--color5) 15%);
}

.about-content {
    position: absolute;
    margin-top: 500px;
    height: 800px;
    width: 1100px;
    justify-self: center;
    animation: showmain linear both;
    animation-timeline: view();
    animation-range: 0 50%;
    opacity: 1;
    overflow: hidden;
}

.display {
    position: absolute;
    height: 800px;
    width: 1100px;
    background-color: var(--color4);
    rotate: 0.5turn;
    z-index: 0;
    --r: 20px;
    --s: 140px;
    border-radius: var(--r);
    clip-path: shape(from 0 0,
            hline to calc(100% - var(--s) - 2*var(--r)),
            curve by var(--r) var(--r) with var(--r) 0,
            curve by var(--s) var(--s) with 0 var(--s),
            curve by var(--r) var(--r) with var(--r) 0,
            vline to 100%,
            hline to 0);
    transition: background-color 0.8s cubic-bezier(0.22, 0.44, 0, 1);
}

@keyframes showmain {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content {
    position: absolute;
    height: 800px;
    width: 1100px;
    margin-top: 60px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: start;
    transition: transform 0.8s cubic-bezier(0.22, 0.44, 0, 1);
}

.content-styling {
    width: 400px;
    text-align: center;
}

.content h1 {
    font-size: 36px;
}

.content p,
.content ul {
    font-size: larger;
    list-style-type: none;
}

.content button {
    padding: 1rem 0.5rem;
    width: 200px;
    font-size: 16px;
    margin-top: 80px;
    border-radius: 10px;
    border: none;
    background-color: var(--btn-color);
    cursor: pointer;
    transition: 0.8s;
    outline: solid transparent;
}

.content button:hover {
    filter: brightness(110%);
    transform: translateY(-5px);
    outline: white solid;
}


.skills-heading {
    position: absolute;
    text-align: left;
    width: 600px;
    height: 300px;
    bottom: 130px;
    left: 45%;
}

.skills-heading h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: -20px;
}

.skills-heading li {
    font-weight: 500;
}

.skill-container {
    position: absolute;
    left: 50px;
    width: 80%;
    background-color: rgb(46, 46, 46);
}

.skill {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
    text-align: right;
    color: white;
}

.skill.bar {
    margin-left: 0px;
    background: linear-gradient(90deg, var(--color2) 80%, var(--color3));
}

:has(.content.active.a) .display {
    background-color: var(--color1);
}

:has(.content.active.a) .content img {
    height: 370px;
}

:has(.content.active.a) button {
    --btn-color: var(--color2);
}

:has(.content.active.b) button {
    --btn-color: var(--color1);
}

:has(.content.active.c) .display {
    background-color: var(--color3);
}

:has(.content.active.c) img {
    margin-top: 200px;
}


:has(.content.active.c) button {
    --btn-color: var(--color4);
}


.content img {
    margin-top: 10px;
    width: 550px;
    height: 300px;
    border-radius: 25px;
    transition: 0.8s;
}

.content div {
    margin-left: 15px;
}

.content.active {
    transform: translateY(0);
    z-index: 2;
}

.content.up-scroll {
    transform: translateY(-100%);
    z-index: 1;
}

.content.down-scroll {
    transform: translateY(100%);
    z-index: 1;
}