.greeting-container {
    position: relative;
    height: 1024px;

}

.greeting-bg {
    position: absolute;
    height: 512px;
    width: 100%;
    background-color: #3D89AE;
}

.envalope {
    position: absolute;
    justify-self: center;
    top: 140px;
    height: 770px;
    width: 1100px;
    background-color: #f9d277;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 8%, 72% 8%, 83% 0);
}