.greeting-container {
    position: relative;
    height: 1024px;

}

.greeting-bg {
    position: absolute;
    height: 512px;
    width: 100%;
    background-color: var(--color4);
}

.envalope {
    position: absolute;
    justify-self: center;
    display: flex;
    top: 140px;
    height: 700px;
    width: 1070px;
    user-select: none;
}

.envalope-design-back {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #c2a051;
    height: 100px;
    width: 1000px;
}

.envalope-design-mid {
    position: absolute;
    top: 30px;
    left: 5px;
    height: 40px;
    width: 900px;
    background-color: papayawhip;
}

.envalope-design-front {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 10%, 70% 10%, 80% 0);
    padding-left: 100px;
    background-color: var(--color2);
}


.title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 170px;
    margin-left: 10px;
}

.title h1 {
    font-size: 36px;
    line-height: 50px;
}

.title h1 span {
    color: var(--color4);
    text-decoration: underline;
}

.title img {
    /* Bg color temporary until i find a image */
    background-color: gray;
    margin-top: 10px;
    width: 220px;
    height: 220px;
    clip-path: circle();
}