footer {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
    background-color: var(--color3);
    user-select: none;
}

.icons-footer {
    margin-right: 20px;
    margin-left: 100px;
    border-right: solid white 3px;
    width: 10%;
}