.navbar {
    display: flex;
    position: sticky;
    justify-self: center;
    align-items: center;
    background-color: var(--color3);
    margin-top: 20px;
    margin-bottom: -80px;
    width: 90%;
    height: 40px;
    top: 2px;
    padding: .5rem;
    z-index: 10;
    animation: changeBg linear;
    animation-timeline: scroll();
    animation-range: 0% 100%;
    user-select: none;
}

@keyframes changeBg {

    20%,
    100% {
        background-color: rgba(0, 0, 0, 0.439);
    }
}

.navbar ul {
    display: flex;
    margin-left: -50px;
    justify-content: space-evenly;
    width: 100%;
}

.navbar ul p {
    border-right: white solid 3px;
    text-align: center;
    min-width: 80px;
    width: calc(25%);
}

.navbar ul p:last-child {
    border-right: none;
}

.navbar ul a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    width: min-content;
    animation: changeTxt linear;
    animation-timeline: scroll();
    animation-range: 0 100%;
    cursor: pointer;
}

@keyframes changeTxt {
    20%,100%{
        color: rgba(255, 255, 255, 0.466);
    }
    
}

.navbar ul a::before {
    content: attr(data-text);
    font-weight: 780;
    color: var(--color1);
    text-decoration: underline 2px;
    overflow: hidden;
    position: absolute;
    width: 0px;
    transition: 0.5s;
}

.navbar ul a:hover::before {
    width: 100%;
}